@font-face {
    font-family: 'Focus Sans';
    src: url('https://github.com/LeventeHudak/vfonts/raw/master/FocusSansGX.ttf');
 }
 
body {
    font-family: "Focus Sans";  
    font-variation-settings: 'wght' 400, 'wdth' 1;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 1.8px;
    padding: 200px;
    padding-top: 100px;
    color: #e8e8e8;
    
}
::selection {
  background: #e8e8e8; 
}
.doboz:hover::first-line {
    color: #888888;
}

.test1 {
    font-family: "Focus Sans";
    font-variation-settings: 'wght' 900, 'wdth' 10;
    transition: all 350ms;
    color: black;
}

.test2 {
    font-family: "Focus Sans";
    font-variation-settings: 'wght' 400, 'wdth' 5;
    transition: all 350ms;
    color: #666666;
}

.test3 {
  cursor: none;
}